.headshot {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: auto\9; 
    height: auto;
    border-radius: 50%;
    position:relative;
    left: 50%;
    transform: translate(-50%, 15%);
} 

h2 {
    width: auto\9; 
    width: 100%;
    background-color: rgb(119,209,139);
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    font-size: 80px; 
    line-height: 120px; 
    font-weight: normal; 
    text-shadow: 0 1.5px 1.5px rgb(68,106,130); 
    border-radius: 20px; 
    left: 50%;
    transform: translate(-50%, 30%);
}

.welcome {
    width: auto\9; 
    width: 100%;
    background-color: rgb(119,209,139);
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 80px; 
    line-height: 120px; 
    font-weight: normal; 
    text-shadow: 0 1.5px 1.5px rgb(68,106,130); 
}

.credentials {
    position: relative;
    text-align: left;
    max-width: 100%; 
    width: auto\9; 
    height: auto;
    font-family: "Great Vibes", cursive; 
    background-color:  rgb(68,106,130);
    font-size: 25px; 
    padding: 40px;
    border-radius: 20px; 
    left: 50%;
    transform: translate(-50%, 5%);
    color: white;
}  

.notaryBadge{
    position: relative;
    bottom: 750%;
    left: 20%;
    transform: translate(-10%);

}

.trainedBadge{
    position: relative;
    bottom: 750%;
    left: -20%;
    transform: translate(15%);
}