.headshot {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    width: auto\9; 
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.welcome {
    width: auto\9; 
    width: 100%;
    background-color: gray;
    max-width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 80px; 
    line-height: 120px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
}

.credentials {
    position: absolute;
    text-align: left;
    max-width: 100%; 
    width: auto\9; 
    height: auto;
    font-family: "Great Vibes", cursive; 
    background-color: lightgreen;
    font-size: 25px; 
    /* top: 85%;
    left: 15%; */
    padding: 40px;
    border-radius: 20px; 
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notaryBadge{
    position: absolute;
    top: 50%;
    right: 5%;
}

.trainedBadge{
    position: absolute;
    top: 50%;
    left: 5%;
}