
.b-example-divider {
    height: 10rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

}
  

.welcome {
    position: relative;
    background-color: #212529;
    color: white;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    font-size: 50px;  
    line-height: 80px; 
    font-weight: normal; 
    padding: 30px;
} 

.card{
    border-width: 0;
    background-color: rgb(68,106,130);
    position: relative;
}

.card-img-top{
    position: absolute;
    top: 100px;
    right: 5px;
    height: 400px;
    width: 400px;
    display: block;
    margin-top: 100px;
    border-style: inset;
    border-color: #212529;
    border-width: 10px;
}

.info {
    background-color: rgb(119,209,139);
    max-width: 100%;
    position: relative;
    top: 10px;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px; 
    line-height: 50px; 
    text-align: center; 
    text-shadow: 0 5px 5px black; 
    padding: 50px;
    margin-top: auto;
}

.card-text{
    position: relative;
    top: -8px;
    color: black;
    background-color:rgb(119,209,139) ;
    text-align: center; 
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    padding: 25px;
    
}

ul{
    position: relative;
    top: -2px;
    font-size: 30px;
    list-style:square;
    text-align: center;
    list-style-position: inside;
    border: 5px solid rgb(119,209,139);

}

li{
    font-family: "Great Vibes", cursive;
    padding: 5px;
    color: black;

}

.info1{
    background-color:#212529;
    color: white;
    position: relative;
    padding: 10px;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    text-shadow: 0 5px 5px black;
    font-size: 60px; 
    line-height: 50px; 
}   

.capital{
    position: static;
    height:500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: inset;
    border-color: #212529;
    border-width: 10px;
}

#deyonna{
    border: 5px solid black;
}

.footer{
    background-color:#212529;
    color: white;
    position: relative;
    top: -8px;
    padding: 10px;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    text-shadow: 0 5px 5px black;
    font-size: 40px; 
    line-height: 50px; 
    max-width: auto;
}  

.phone{
    padding-top: 20px;
    font-size: 50px;
    font-family: "Great Vibes", cursive; 
}