
.welcome {
    position: relative;
    background-color: #212529;
    color: white;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    font-weight: normal; 
    padding: 20px;
    left: -13%;
    transform: translate(13%, 5%);
} 

.card{
    position: relative;
    left: -13%;
    transform: translate(13%, 0%);
    border-width: 0;
    background-color: rgb(68,106,130);
    position: relative;
    margin:auto;
    border-radius: 10%;
    
}

/* .card-img-top{
    position: absolute;
    top: 100px;
    right: 5px;
    height: 400px;
    width: 400px;
    display: block;
    margin-top: 100px;
    border-style: inset;
    border-color: #212529;
    border-width: 10px;
    min-width:fit-content;
} */

.info {
    position: relative;
    left: -15%;
    transform: translate(15%, 35%);
    background-color: rgb(119,209,139);
    max-width: 100%;
    position: relative;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px; 
    line-height: 50px; 
    text-shadow: 0 5px 5px black; 
    padding: 40px 0px 150px 0px;
    margin: auto;
    min-width: fit-content;
}

.card-text{
    position: relative;
    top: -8px;
    color: black;
    background-color: rgb(68,106,130);
    text-align: center; 
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    padding: 25px;
    
}

ul{
    position: relative;
    top: -2px;
    font-size: 30px;
    list-style:square;
    text-align: center;
    list-style-position: inside;
    border: 5px solid rgb(119,209,139);

}

li{
    font-family: "Great Vibes", cursive;
    padding: 5px;
    color: black;

}

.info1{
    background-color:#212529;
    color: white;
    position: relative;
    padding: 40px;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    text-shadow: 0 5px 5px black;
    font-size: 60px; 
    line-height: 50px; 
}   

.capital{
    position: relative;
    height:auto;
    width: auto;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: #212529;
    border-width: 10px;
}

#deyonna{
    border: 5px solid black;
}

.footer{
    background-color: rgb(119,209,139);
    color: white;
    position: relative;
    top: -30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    text-shadow: 0 5px 5px black;
    font-size: 40px; 
    line-height: 50px; 
    max-width: auto;

}  

.phone{
    padding-top: 20px;
    font-size: 50px;
    font-family: "Great Vibes", cursive; 
}