
.b-example-divider {
    height: 10rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 0;
    /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */

}
  
  /* @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  } */

.welcome {
    position: relative;
    top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Great Vibes", cursive; 
    font-size: 50px;  
    line-height: 80px; 
    font-weight: normal; 
    padding: 30px;
 
} 

.card{
    border-width: 0;
    background-color: rgb(68,106,130);
    position: static;

}

.card-img-top{
    position: static;
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: inset;
    border-color: black;
    border-width: 10px;
}

.info {
    /* background-color: rgb(68,106,130);  */
    background-color: rgb(119,209,139);
    max-width: 100%;
    position: relative;
    top: 10px;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px; 
    line-height: 50px; 
    text-align: center; 
    text-shadow: 0 5px 5px black; 
    padding: 50px;
}

.card-body{
    color: rgb(68,106,130);
    background-color: white;
    text-align: center; 
}

.card-text{
    color: white;
    background-color:rgb(68,106,130) ;
    text-align: center; 
    font-size: 30px;
    padding: 25px;
    text-shadow: 0 5px 5px black; 
    border: 10px solid rgb(68,106,130)

}

ul{
    display:inline-block;
    padding-left: 0;
    text-align: left;
    font-size: 30px;
    padding: 60px;
}

.info1{
    background-color: rgb(68,106,130);
    color: white;
    position: relative;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-family: "Great Vibes", cursive; 
    border: 10px solid white;
    text-shadow: 0 5px 5px black;
}   

