.table{
    position: relative;
    margin: auto;
    padding: 40px;
    text-align: center;
    max-width: 50%;
    height: auto;
    font-family: "Great Vibes", cursive; 
    background-color: lightgreen;
    font-size: 25px; 
    top: 150px;
    padding: 40px;
    border-radius: 20px;
}

.priceheader {
    width: auto\9; 
    width: 100%;
    background-color: gray;
    max-width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 80px; 
    line-height: 120px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black; 
}  

.tableheader{
    background-color: white;
}

.payment{
    width: 100%;
    border-radius: 20px;
    background-color: gray;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 110%;
    text-align: center;
    color: lightgreen; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px; 
    line-height: 100px; 
    font-weight: normal; 
    margin-top: 20px; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px black;  
}

/* .pricelist{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}  */