.table{
    position: auto;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    max-width: 50%;
    min-width: fit-content;
    height: auto;
    font-family: "Great Vibes", cursive; 
    background-color:  rgb(68,106,130);
    font-size: 25px; 
    top: 150px;
    border-radius: 20px;
    color: white;
    text-shadow: 0 1.5px 1.5px black; 
    
}

.priceheader {
    width: auto\9; 
    width: 100%;
    background-color: rgb(119,209,139) ;
    max-width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 80px; 
    line-height: 120px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px rgb(68,106,130); 
}  

.tableheader{
    background-color: white;

}

.payment{
    width: 100%;
    background-color: rgb(119,209,139) ;
    max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 40px;
    text-align: center;
    color: white; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px; 
    line-height: 100px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 0 1.5px 1.5px rgb(68,106,130);  
}

section{
    position: sticky;
    color: white;
    border-radius: 25% 10%;
    padding: 50px;
    text-align: center;
   
}